* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: #e5e5e5;
  margin: 0%;
}

.inicial {
  display: flex;
  align-items: center;
  justify-content: center;
}
.topo {
  width: 100%;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  background-color: #ec362d;
  font-size: 30px;
  color: #e5e5e5;
  z-index: 1;
}
.quizzes {
  width: 1100px;
  height: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
b {
  font-size: 30px;
}

.escondido {
  display: none;
}

.quizzUsuario {
  width: 100%;
  height: auto;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.quizzServidor {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quizz1 {
  width: 340px;
  height: 181px;
  margin: 15px 0;
  background-color: black;
}
.quizz1 strong {
  bottom: -130px;
  left: 10px;
  font-size: 19px;
  color: #ffffff;
  position: relative;
}

.quizz1 img {
  width: 340px;
  height: 181px;
  position: absolute;
  mask-image: linear-gradient(to top, transparent 1%, rgb(19, 19, 19) 20%);
  -webkit-mask-image: linear-gradient(
    to top,
    transparent 1%,
    rgb(19, 19, 19) 20%
  );
}
.quizzHead {
  position: relative;
}
.fundo {
  width: 1440px;
  height: 227px;
}
.tituloQuizz {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1051px;
  height: 54px;
  position: absolute;
  font-weight: 400;
  font-size: 39px;
  line-height: 46px;
  color: #ffff;
  top: 87px;
  left: 209px;
}
.container {
  display: grid;
}
.vazio {
  width: 250px;
  height: 150px;
  color: #b9b9b9;
  font-size: 26px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.vazio button {
  border: none;
  border-style: dotted;
  border-width: 1px;
  border-color: #ec362d;
  color: #ec362d;
  border-radius: 30px;
  width: 150px;
  height: 40px;
}

.tela3 {
  min-width: 1100px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.tela3 input {
  width: 564px;
  height: 46px;
  margin: 9px 0;
  border: none;
  border-style: solid;
  border-width: 1px;
  color: #9b9b9b;
  border-color: #a8a8a8;
  border-radius: 5px;
}
.tela3 b {
  margin-top: 10px;
  margin-bottom: 35px;
  font-size: 30px;
}
.tela3 button {
  border: none;
  border-style: solid;
  border-width: 1px;
  border-color: none;
  color: #fff5f4;
  border-radius: 30px;
  width: 368px;
  height: 64px;
  font-size: 21px;
  margin-top: 100px;
  background-color: #ec362d;
}
.tela32,
.tela33,
.tela34 {
  width: 564px;
  height: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.tela32 input,
.tela33 input,
.tela34 input {
  width: 564px;
  height: 46px;
  margin: 9px 0;
  border: none;
  border-style: solid;
  border-width: 1px;
  color: #9b9b9b;
  border-color: #a8a8a8;
  border-radius: 5px;
}
.tela32 b,
.tela33 b,
.tela34 b {
  margin-top: 10px;
  margin-bottom: 35px;
  font-size: 23px;
}
.tela32 button,
.tela33 button,
.tela34 button {
  border: none;
  border-style: solid;
  border-width: 1px;
  border-color: none;
  color: #fff5f4;
  border-radius: 30px;
  width: 368px;
  height: 64px;
  font-size: 21px;
  margin-top: 100px;
  background-color: #ec362d;
}
.botaoCinza button {
  border: none;
  border-style: solid #e5e5e5;
  border-width: 1px;
  border-color: none;
  color: #818181;
  border-radius: 30px;
  width: 368px;
  height: 64px;
  font-size: 21px;
  margin-top: 100px;
  background-color: #e5e5e5;
}

.cor {
  display: none;
}
.answer {
  display: none;
}

.questoes img {
  width: 329.91px;
  height: 175.2px;
}
.questoes {
  display: flex;
  flex-direction: column;
}
.perguntas {
  width: 688.16px;
  height: 137.99px;
  display: flex;
  justify-content: center;
}
.respostas-0 {
  background-color: #ffff;
  width: 759px;
  height: 517.85px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 329.91px 329.91px;

  grid-row-gap: 20px;
  justify-content: center;
  align-items: center;
}
.answersContent {
  position: relative;
}
.texto {
  width: 329.91px;
  height: 34.11px;
}

.respostas-1 {
  background-color: #ffff;
  width: 759px;
  height: 517.85px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 329.91px 329.91px;

  grid-column-gap: 20px;

  justify-content: center;
  align-items: center;
}
.respostas-2 {
  background-color: #ffff;
  width: 759px;
  height: 517.85px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 329.91px 329.91px;

  grid-column-gap: 20px;

  justify-content: center;
  align-items: center;
}
@media (max-width: 1100px) {
  .quizzServidor {
    flex-direction: column;
  }
  .quizz1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  body {
    width: 100vw;
  }

  .inicial {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .topo {
    width: 100%;
    margin-left: 0%;
  }
  .quizzes {
    width: 100%;
    margin-left: 0%;
  }

  .quizzUsuario {
    width: 100%;
    height: auto;
  }

  .quizzServidor {
    width: 100%;
    height: auto;
  }

  .quizz1 {
    width: 100%;
  }

  .quizz1 img {
    width: 100%;
  }
  .vazio {
    width: 100%;
  }

  .vazio button {
    width: 80%;
  }

  .tela3 {
    width: 100%;
  }
  .tela3 input {
    width: 95%;
  }
  .pergunta {
    width: 100%;
  }

  .caixa-pergunta,
  .caixa-pergunta1 {
    width: 100%;
  }
  .caixa-pergunta2 {
    width: 95%;
  }
  .caixa-pergunta2 img {
    width: 30px;
    height: auto;
  }

  .tela32,
  .tela33,
  .tela34 {
    width: 95%;
  }
  .tela32 input,
  .tela33 input,
  .tela34 input {
    width: 100%;
  }
}
